<hr />
<h2>Statistic</h2>

<h1>
	Today's Activity
</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th width="20%">New Tickets</th>
			<th width="20%">Closed Tickets</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>0</td>
			<td>0</td>
		</tr>
	</tbody>
</table>
